@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body, input, select, button {
    color: rgba(0, 0, 0, 0.712);
    font-family: 'Cafe24Ssurround', sans-serif;
}

body {
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

input,
select,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 15px;
    box-sizing: border-box;  /* 사이즈를 일정하게 맞춰줌 */

    height: 40px;
}

.form-container {
    background-color: #a0fff0;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    margin-top: 15px;
}

.child-age, .hospital-group  {
    display: flex;
    flex-direction: column;
    gap: 5px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 20px;
}


